.headerWrapper{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 15vh;
    background-color: #212121;
}
.loginBtn{
    margin-right: 40px;
    color: white;
    cursor: pointer;
}
.loginBtn:hover{
    color: aqua;
}
.generatedTextContainer{
    background-color: #181818;
    color: white;
    padding: 20px;
}
.generatedText{
    margin: 10px 0;
    white-space: pre-wrap;
}
.generateBtn{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 10px;
}
.inputSelectWrapper{
    display: flex;
    justify-content: space-evenly;
}
.inputSelectBtn{
    width: 70vw;
}
/*Form*/
.form {
    background-color: #212121;
    color: white;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.formTitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: white;
}

.inputContainer {
    position: relative;
}

.inputContainer input, .form button {
    outline: none;
    margin: 8px 0;
}

.inputContainer input {
    background-color: white;
    color: black;
    padding: 1rem 3rem 1rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.signupLink {
    color: #acb1bb;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signupLink a {
    margin-left: 10px;
    color: #a39eff;
    text-decoration: underline;
}
/*chat form*/

.container {
    width: 100%;
    min-height: 40vh;
    background-color: #343541;
    /*border-radius: 8px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.navBar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar a {
    color: #6B6C7B;
    white-space: nowrap;
    margin-left: 10px;
    user-select: none;
}

.close {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.line {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #6B6C7B;
    border-radius: 30px;
}

.lineOne {
    transform: rotate(45deg);
}

.lineTwo {
    transform: rotate(135deg);
}

.messagesArea {
    background-color: #1e1f22;
    width: 100%;
    min-height: 210px;
    padding: 20px;
}

.senderArea {
    background-color: #2e363a;
    color: white;
    width: 100%;
    height: 70px;
    border-radius: 8px;
}

.message {
    width: 100%;
    height: 40px;
}

.messageOne,
.messageThree,
.messageFive {
    background-color: #1e1f22;
    color:white;
}

.messageTwo,
.messageFour,
.messageSix {
    background-color: #343541;
}

.sendImg {
    width: 30px;
}

.sendInput {
    outline: none;
    display: flex;
    border: none;
    background: none;
    height: 40px;
    width: 230px;
    border-radius: 7px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
}

.sendInput::placeholder {
    color: #828E9E;
}

.inputPlace {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 10px;
    align-items: center;
    background-color: #40414F;
    border-radius: 7px;
    height: 40px;
    width: 280px;
    gap: 5px;
    border: 1px solid #2E2F3A;
}

.send {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.sendIcon {
    width: 17px;
}
