.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 40%;
    background-color: #343541;
}

.navBar {
    width: 100%;
    height: 6vh;
    padding: 0 20px;
    color: #676767;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messagesArea {
    background-color: #2e363a;
    color:white;
    width: 100%;
    min-height: calc(100vh - 18vh);
    padding: 20px;
}

.senderArea {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: #343541;
    width: 100%;
    height: 12vh;
    padding: 0 20px;
    flex: 1 1 auto;
}

.message {
    width: 100%;
    height: 40px;
}

.messageOne{
    background-color: #2e363a;
    color:white;
    margin-bottom: 70px;
}

.sendImg {
    width: 30px;
}

.sendInput {
    outline: none;
    display: flex;
    border: none;
    background: none;
    height: 40px;
    width: 230px;
    border-radius: 7px;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
}

.sendInput::placeholder {
    color: #ffffff;
}

.inputPlace {
    display: flex;
    align-items: center;
    background-color: #40414F;
    border-radius: 7px;
    padding: 5px;
    height: 40px;
    width: 320px;
    gap: 20px;
    border: 1px solid #2E2F3A;
}

.iconBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendIcon , .clearIcon,
.downloadIcon, .optionsIcon{
    color:white;
    cursor: pointer;
}
